<h2><%= @post.nil? ? "Create" : "Update" %> Post</h2>

<div class="content">
  <form action="<%= url @post.nil? ? "/posts" : "/posts/#{@post.id}" %>" method="post">
    <% unless @post.nil? %>
      <!-- NOTICE HOW METHOD PUT IS OVERRIDEN -->
      <input name="_method" type="hidden" value="put" />
    <% end %>
    <label>Title</label>
    <input type="text" name="post[title]" value="<%= @post ? @post.title  : "" %>"/>
    <label>Body</label>
    <input type="text" name="post[body]" value="<%= @post ? @post.body : "" %>"/>
    <input type="submit"  value="<%= @post.nil? ? "Create" : "Update" %>"/>
  </form>
</div>

<div class="sidebar">
  <h3>Environment</h3>
  <ul>
    <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
    <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
    <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
    <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
  </ul>
</div>
