<h2><%= @post.title %></h2>

<div class="content">
  <p>
    <%= @post.body %>
  </p>

  <!-- add this section with link and delete button -->
  <a href="<%= url "/post/#{@post.id}/edit" %>">Edit</a>
  <form action="<%= url "/posts/#{@post.id}" %>" method="post">
    <input name="_method" type="hidden" value="delete" />
    <input type="submit" value="Delete" />
  </form>
</div>

<div class="sidebar">
  <h3>Environment</h3>
  <ul>
    <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
    <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
    <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
    <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
  </ul>
</div>
